<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mirafra : Flight tickets</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}"/>
        <script type= "text/javascript" defer src = "{{ url_for('static',filename='styles/home.js') }}"></script>
    </head>
    <body>
        <div class="divbody">
            <div class="header">
                <p>Mirafra Technologies</p>
                <div class="menu"></div>
            </div>
            <div class="mainbody"></div>
            <div class="sidebody"></div>
            <div class="chatter">
                <div class="chatter_content">
                    <div class = "chathead_mob chathead">
                        <p class="chat_text">Bot service</p>
                    </div>
                    <div class="chatbody chatmob chat_content">
                        <!-- <div class="msg_in_body user_msg_in_body">
                            <img src="https://nulm.gov.in/images/user.png">
                            <p>user input</p>
                        </div>
                        <br>
                        <div class="msg_in_body bot_msg_in_body">
                            <p>bot input</p>
                            <img  src="https://support.upwork.com/hc/article_attachments/360040474034/chatbot-data.png">
                        </div> -->
                    </div>
                    <div class="message chatmob chat_content">
                        <textarea class="msg_inp" name="text"
                         wrap="soft" placeholder="Your message ..."></textarea>
                        <!-- <input class="msg_inp" placeholder="Your message ..."> -->
                    </div>
                    <div class="send_utils chatmob chat_content">
                        <button class = "msg_button" type="button">Enter</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>
